body {
  background-color: #E8ECEF;
}

.App {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.register-window {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media (max-width: 991px) {
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }
}
