body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.authentication-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.authentication-form {
  display: flex;
  justify-content: space-evenly;
}

.form-wrapper {
  width: 30%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logout-button {
  margin-bottom: 2%;
}

@media (max-width: 600px) {
  .authentication-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  .form-wrapper {
    width: 80%;
  }
}


